{% extends "./layout.html" %}

{% block css_link %}
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/styles1.css')}}">
{% endblock %}

{% block js_link %}
<script src = "{{ url_for('static', filename='js/script2.js')}}"></script>
{% endblock %}

{% block title %}
Contestants Login Page
{% endblock %}

{% block top_part %}
<h1>E-CONTEST</h1>
<div id = "hello">Welcome <br/>Participant</div>
{% endblock %}

{% block page_content %}

{% if error : %}
<p id = "err" style = "display: none;">{{error}}</p>
{% endif %}

<div class = "content">
	<form name = "login_form" method = "POST" action = "{{url_for('login')}}">
		<div class = "login-container">
			{{form.hidden_tag()}}
			{{form.username(placeholder = "Username")}}
			<br/>
			{{form.password(placeholder = "Password")}}
			<input name = "submit" type = "submit" value = "Login">
		</div>
	</form>
</div>
{% endblock %}